In [1]:
import pandas as pd

a. Caricare in un dataframe le informazioni presenti nel foglio ‘customers’ del file BikeStores
presenta al link

In [2]:
df = pd.read_excel("https://github.com/wtitze/3E/blob/main/BikeStores.xls?raw=true", sheet_name="customers")
df

      customer_id  first_name last_name  ...           city state zip_code
0               1       Debra     Burks  ...   Orchard Park    NY  14127.0
1               2       Kasha      Todd  ...       Campbell    CA  95008.0
2               3      Tameka    Fisher  ...  Redondo Beach    CA  90278.0
3               4       Daryl    Spence  ...      Uniondale    NY  11553.0
4               5  Charolette      Rice  ...     Sacramento    CA  95820.0
...           ...         ...       ...  ...            ...   ...      ...
1440         1441      Jamaal  Morrison  ...  Staten Island    NY  10301.0
1441         1442      Cassie     Cline  ...       Brooklyn    NY  11201.0
1442         1443      Lezlie      Lamb  ...  Central Islip    NY  11722.0
1443         1444      Ivette     Estes  ...    Canandaigua    NY  14424.0
1444         1445       Ester   Acevedo  ...    San Lorenzo    CA  94580.0

[1445 rows x 9 columns]

b. Sostituire negli indirizzi la parola ‘St’ alla parola ‘Street’

In [3]:
df["street"] = df["street"].str.replace('St', 'Street')
df

      customer_id  first_name last_name  ...           city state zip_code
0               1       Debra     Burks  ...   Orchard Park    NY  14127.0
1               2       Kasha      Todd  ...       Campbell    CA  95008.0
2               3      Tameka    Fisher  ...  Redondo Beach    CA  90278.0
3               4       Daryl    Spence  ...      Uniondale    NY  11553.0
4               5  Charolette      Rice  ...     Sacramento    CA  95820.0
...           ...         ...       ...  ...            ...   ...      ...
1440         1441      Jamaal  Morrison  ...  Staten Island    NY  10301.0
1441         1442      Cassie     Cline  ...       Brooklyn    NY  11201.0
1442         1443      Lezlie      Lamb  ...  Central Islip    NY  11722.0
1443         1444      Ivette     Estes  ...    Canandaigua    NY  14424.0
1444         1445       Ester   Acevedo  ...    San Lorenzo    CA  94580.0

[1445 rows x 9 columns]

c. Visualizzare la mail dei clienti che abitano in California (CA) ma non a Sacramento

In [4]:
df.loc[(df["state"] == "CA") & (df["city"] != "Sacramento")]

      customer_id first_name last_name  ...           city state zip_code
1               2      Kasha      Todd  ...       Campbell    CA  95008.0
2               3     Tameka    Fisher  ...  Redondo Beach    CA  90278.0
23             24     Corene      Wall  ...        Atwater    CA  95301.0
29             30     Jamaal    Albert  ...       Torrance    CA  90505.0
30             31  Williemae  Holloway  ...        Oakland    CA  94603.0
...           ...        ...       ...  ...            ...   ...      ...
1427         1428     Carola     Johns  ...     Santa Cruz    CA  95060.0
1428         1429     Lorrie   Justice  ...         Pomona    CA  91768.0
1429         1430      Tayna      Wade  ...    Bakersfield    CA  93306.0
1437         1438        Lee      Dunn  ...       San Jose    CA  95127.0
1444         1445      Ester   Acevedo  ...    San Lorenzo    CA  94580.0

[278 rows x 9 columns]

d. Rinominare la colonna ‘first_name’ in ‘name’ e la colonna’ last_name’ in ‘surname’

In [11]:
df.rename(columns= {'first_name' : 'name', "last_name" : "surname"}, inplace=True)
df

      customer_id        name   surname  ...           city state zip_code
0               1       Debra     Burks  ...   Orchard Park    NY  14127.0
1               2       Kasha      Todd  ...       Campbell    CA  95008.0
2               3      Tameka    Fisher  ...  Redondo Beach    CA  90278.0
3               4       Daryl    Spence  ...      Uniondale    NY  11553.0
4               5  Charolette      Rice  ...     Sacramento    CA  95820.0
...           ...         ...       ...  ...            ...   ...      ...
1440         1441      Jamaal  Morrison  ...  Staten Island    NY  10301.0
1441         1442      Cassie     Cline  ...       Brooklyn    NY  11201.0
1442         1443      Lezlie      Lamb  ...  Central Islip    NY  11722.0
1443         1444      Ivette     Estes  ...    Canandaigua    NY  14424.0
1444         1445       Ester   Acevedo  ...    San Lorenzo    CA  94580.0

[1445 rows x 9 columns]

e. Creare una nuova colonna che contenga solo i domini degli indirizzi della posta elettronica (es.
hotmail.com). Chiamare la nuova colonna ‘domain’

In [6]:
df["domain"] =

SyntaxError: ignored

f. Calcolare il numero di clienti per ogni dominio di posta elettronica. Visualizzare il nome del
dominio e il numero di clienti che hanno quel dominio. Ordinare in ordine decrescente sul numero di
clienti e visualizzare le informazioni in un grafico a barre verticali. Dare un nome appropriato al titolo
del grafico e agli assi

In [ ]:
df4 = df.groupby("domain")["name"].count().sort_values(ascending = False)


import matplotlib.pyplot as plt


#  crea la figura
fig = plt.figure(figsize=(11,8))

#  crea gli assi
ax = plt.axes()

#  crea le barre
#  color = "chocolate" per cambiare il colore delle barre
#  dentro le virgolette mettere nome di un colore dalla tabella di cssdegli colori
ax.bar(df4.index, df4.values, color="chocolate")

#  ruota i label o i nomi dell'asse x
fig.autofmt_xdate(rotation=60) 

#  crea un titolo nell'asse x
ax.set_xlabel("domains")

#  crea un titolo nell'asse y
ax.set_ylabel("tot clients")

#  crea un titolo
fig.suptitle("clients per domain")

plt.show()

g. Calcolare, per ogni città, il numero di domini e visualizzare le città in cui ci sono almeno 10
domini diversi

In [ ]:
df5 = df.groupby("city")["domains"].count().sort_values(ascending = False)

df5.loc[df5.values >= 10, df.index]

h. Visualizzare il cognome più diffuso tra i clienti di BikeStores

In [23]:
dups_surename = df.pivot_table(columns=['surname'], aggfunc='size')
print(dups_surename[dups_surename.index == dups_surename.max()])

#########    SBAGLIATO

Series([], dtype: int64)

i. Eliminare dal dataframe tutti i clienti che vivono in una zona che ha lo zip_code (analogo al
nostro CAP) che comincia con 141 (supporre che lo zip_code sia una stringa)

In [ ]:
df = df.drop(df.index[df["zip_code"].str.startswith("141")], inplace = True)
df